.autocomplete-suggestion-list-wrapper {
    position: absolute;
    z-index: 3000;

    margin-top: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.09098);
    background-color: white;
}

.autocomplete-suggestion-list-wrapper.hidden {
    visibility: hidden;
}

.autocomplete-suggestion-list {
    list-style-type: none;
    padding: 0;
    margin: 0 4px 0 4px;
    background-color: white;
}

.autocomplete-suggestion-list-item {
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;

    border-radius: 4px;
}

.autocomplete-suggestion-list-item:hover,
.autocomplete-suggestion-list-item.selected,
.autocomplete-suggestion-list-item.selected:hover,
.autocomplete-suggestion-list:hover .autocomplete-suggestion-list-item.selected:hover {
    background: linear-gradient(rgb(27, 134, 227), rgb(22, 110, 213));
    color: white;
}

.autocomplete-suggestion-list:hover .autocomplete-suggestion-list-item.selected {
    background: inherit;
    color: inherit;
}

.autocomplete-suggestion-list-item.empty {
    visibility: hidden;
}

.autocomplete-textfield.v-widget {
    width: inherit;
}

/* Override border radius for autocomplete wrapper in component group */
.v-csslayout-v-component-group .v-widget ~ .autocomplete-textfield:not(:last-child) > .v-widget {
    border-radius: 0;
}

.v-csslayout-v-component-group .autocomplete-textfield:last-child > .v-widget {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.v-csslayout-v-component-group .v-widget ~ .autocomplete-textfield:last-child > .v-widget {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}
