.autocomplete-suggestion-list-wrapper {
    position: absolute;
    z-index: 3000;
}

.autocomplete-suggestion-list-wrapper.hidden {
    visibility: hidden;
}

.autocomplete-suggestion-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.autocomplete-suggestion-list-item {
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}

.autocomplete-suggestion-list-item.selected, .autocomplete-suggestion-list-item:hover {
    background-color: #F0F0F0;
}

.autocomplete-suggestion-list-item.empty {
    visibility: hidden;
}